body {
  
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container {
  display: flex;
  flex-direction: column; /* stack content vertically */
  justify-content: center; 
  align-items: center; 
}

#quadrantbar {
  width: 70%;
  height: 70%; 
}
