/* Reset default styles */
* {
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
    background-color: #dbdada;

}

body {
    justify-content: center;
    align-items: center;
}

.controls {
    align-items: center;
    justify-content: center;

}

h1{
   text-align: center;
}

p{
    font-size: x-small;
    justify-content: center;
    text-align: center;
}
