body {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #F2E9E4;
}

.header {
  width: 70%;
  padding: 5% 15%;
  text-align: center;
  background: #22223B;
  color: #F2E9E4; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


p{
  font-family: 'Open Sans';
  text-align:justify;

}

.wealth_gap{
  justify-content: center;
  align-items: center;
  background-color: #E7D6CD;
}

.wealth_gap .container {
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;  
  margin-bottom: 2%;

}

.wealth_gap .container #side-by-side {
  display: flex;
  flex-direction: row;
  
}


.wealth_gap .container #side-by-side  h3{
  text-align: center;
  flex: 1; 
}

#pie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;

 
}

#pie1, #pie2 {
  margin: 1%;
}


.disparities{
  justify-content: center;
  align-items: center;
  background-color: #E7D6CD;
}

.disparities .container {
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;  
  margin-bottom: 2%;

}



.income_gap{
  justify-content: center;
  align-items: center;
  background-color: #E7D6CD;
}

.income_gap .container {
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;  
  margin-bottom: 2%;

}

#back, #add-square-equal, #reset-square-equal, #add-square-unequal, #reset-square-unequal, #top-ten-states, #last-ten-states {
    background-color: #C9ADA7;
    margin:1%;
    display: inline-block;
    font-size: 16px;
    border-color: #C9ADA7;
    border-radius: 2px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    
    
  
  
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.select {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1%;

  
}

.select select {
  width: 20%;
  padding: 0.5% 0.5% 0.5% 0.5%;
  font-size: 16px;
  border: 1%  #22223B;
  border-radius: 1%;
  background-color: #C9ADA7;
  color: #22223B;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Open Sans';
}


#quadrantbar {
  align-items: center;
  justify-content: center;
}

#waffle-chart{
  margin:0;
}
#squares, #racial-breakdown, #equal-breakdown, #unequal-breakdown{
  margin-bottom: 4%;
}

#buttons {
  display: flex;
  gap: 20px; 
 
}